{% extends 'base.html' %}
{% block content %}

<body class="page" data-spy="scroll" data-target="#nav-scroll">

<div id="top"></div>

<!-- navigation menu -->
<nav id="nav-scroll" class="navbar navbar-expand-lg navbar-inverse bg-black sticky-top">
	<div class="container no-padding">
		<a class="navbar-brand" href="#"><img src="/static/img/light_logo.png" alt=""></a>

		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-menu"
						aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="main-menu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link smooth-scroll" href="#top">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link smooth-scroll" href="#about-us">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link smooth-scroll" href="#testimonials-slider">Testimonials</a>
				</li>
			</ul><!-- / navbar-nav -->
			<a href="/login" class="btn btn-sm btn-primary pill ml-2"><i class="md-icon dp14 mr-1 fa fa-sign-in"></i><span>Login</span></a>
		</div><!-- main-menu -->
	</div><!-- container -->
</nav>
<!-- / navigation menu -->

<!-- preloader -->
<div id="preloader">
	<div class="spinner spinner-round"></div>
</div>
<!-- / preloader -->

<header class="landing-page-template parallax">
	<div class="container">
		<div class="header-content text-center">
			<img src="/static/img/dark_logo.png" class="header-logo" alt="">
			<h3 class="text-grey header-title">Welcome to the demo site!</h3>
			<p class="header-description text-blue">Take a look around!</p>
			<a href="#about-us" class="btn btn-primary pill smooth-scroll mt-3"><span>About us</span> <i class="md-icon dp16 ml-1">play_arrow</i> </a>
		</div><!-- / header-content -->
		<div class="header-scroll-down text-center">
			<a href="#about-us" class="smooth-scroll"><i class="md-icon dp36 mb-3">expand_more</i></a>
		</div>
	</div><!-- / container -->
</header>

<div class="spacer">&nbsp;</div>

<section id="about-us" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
    <div class="spacer-4x">&nbsp;</div>
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">About Us</h4>
		<div class="spacer spacer-line border-primary">&nbsp;</div>
		<div class="row">
			<div class="col-md-4">
				<div class="block icon-block text-center inner-space">
					<i class="md-icon dp36 box-icon icon-bg pill bg-primary text-white">verified_user</i>
					<h6 class="box-title">Secure Logins</h6>
					<p class="box-description">Log in with Social Media, and browse the site. Your data can only be seen by you.</p>
				</div><!-- / icon-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block icon-block text-center inner-space">
					<i class="md-icon dp36 box-icon icon-bg pill bg-success text-white">build</i>
					<h6 class="box-title">Componentized</h6>
					<p class="box-description">Components can be mixed and matched to suit your needs. The CSS is responsive
					so try it on smaller screens.</p>
				</div><!-- / icon-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block icon-block text-center inner-space">
					<i class="md-icon dp36 box-icon icon-bg pill bg-info text-white">extension</i>
					<h6 class="box-title">Theming</h6>
					<p class="box-description">Material icons make themes look good right out of the box</p>
				</div><!-- / icon-block -->
			</div><!-- / column -->
		</div><!-- / row -->
		<div class="text-center">
		    <a href="#testimonials-slider" class="btn btn-primary pill smooth-scroll mt-3"><span>Testimonials</span> <i class="md-icon dp16 ml-1">face</i> </a>
		</div>
	</div><!-- / container -->
</section>
<!-- / about-us -->

<div class="spacer"></div>

<section id="testimonials-slider" class="dark parallax" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">Testimonials</h4>
		<div class="spacer spacer-line border-primary">&nbsp;</div>
		<div class="spacer-2x">&nbsp;</div>
		<div id="testimonials-carousel-2" class="owl-carousel carousel-full-nav owl-theme">
			<div class="block image-block text-center inner-space">
				<img src="/static/img/john_doe.jpg" class="block-image circle" alt="">
				<p class="box-description text-grey">This website it great. It helps me daily.</p>
				<p class="cite text-sm text-blue">- John Doe</p>
			</div><!-- / image-block -->

			<div class="block image-block text-center inner-space">
				<img src="/static/img/jane_doe.jpg" class="block-image circle" alt="">
				<p class="box-description text-grey">I don't know how I did my job before this website.</p>
				<p class="cite text-sm text-blue">- Jane Doe</p>
			</div><!-- / image-block -->

			<div class="block image-block text-center inner-space">
				<img src="/static/img/james_doe.jpg" class="block-image circle" alt="">
				<p class="box-description text-grey">Wow, just fantastic work. Keep it up!</p>
				<p class="cite text-sm text-blue">- James Doe</p>
			</div><!-- / image-block -->

		</div><!-- / testimonials-carousel -->
		<div class="text-center">
	        <a href="#facts" class="btn btn-primary pill smooth-scroll mt-3"><span>Facts</span> <i class="md-icon dp16 ml-1">explore</i> </a>
	    </div>
	</div><!-- / container -->
</section>
<!-- / testimonials-slider -->

<div class="spacer">&nbsp;</div>

<section id="facts" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
    <div class="spacer-3x">&nbsp;</div>
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">Website Facts</h4>
		<div class="spacer spacer-line border-primary">&nbsp;</div>
		<div class="spacer-2x">&nbsp;</div>
		<div class="row">
			<div class="col-md-4 text-center">
				<i class="fact-icon md-icon dp48 text-primary">alarm</i>
				<h3 class="timer" id="fact-one" data-to="123" data-speed="1000">123</h3>
				<h6 class="fact-title">Time based</h6>
			</div><!-- / column -->
			<div class="col-md-4 text-center">
				<i class="fact-icon md-icon dp48 text-success">public</i>
				<h3 class="timer" id="fact-two" data-to="456" data-speed="1500">456</h3>
				<h6 class="fact-title">Location based</h6>
			</div><!-- / column -->
			<div class="col-md-4 text-center">
				<i class="fact-icon md-icon dp48 text-info">people</i>
				<h3 class="timer" id="fact-three" data-to="789" data-speed="2000">789</h3>
				<h6 class="fact-title">People based</h6>
			</div><!-- / column -->
		</div><!-- /row -->
	    <div class="text-center">
	        <a href="#team" class="btn btn-primary pill smooth-scroll mt-3"><span>The Team</span> <i class="md-icon dp16 ml-1">grade</i> </a>
	    </div>
	</div><!-- / container -->
</section>
<!-- / facts -->

<div class="spacer spacer-line-full-width">&nbsp;</div>
<div class="spacer-3x">&nbsp;</div>

<section id="team" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
    <div class="spacer-4x">&nbsp;</div>
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">The Team</h4>
		<div class="spacer spacer-line border-primary">&nbsp;</div>
		<div class="spacer-2x">&nbsp;</div>
		<div class="row">
			<div class="col-md-4">
				<div class="block image-block text-center inner-space">
					<img src="/static/img/placeholder-900.jpg" class="block-image-full" alt="">
					<h6 class="box-title">Box Title</h6>
					<p class="box-description">Quisque non tempus massa.</p>
					<div class="social-icons">
						<a href="#x"><i class="fa fa-facebook"></i></a>
						<a href="#x"><i class="fa fa-twitter"></i></a>
						<a href="#x"><i class="fa fa-instagram"></i></a>
					</div><!-- / social-icons -->
				</div><!-- / image-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block image-block text-center inner-space">
					<img src="/static/img/placeholder-900.jpg" class="block-image-full" alt="">
					<h6 class="box-title">Box Title</h6>
					<p class="box-description">Quisque non tempus massa.</p>
					<div class="social-icons">
						<a href="#x"><i class="fa fa-facebook"></i></a>
						<a href="#x"><i class="fa fa-twitter"></i></a>
						<a href="#x"><i class="fa fa-instagram"></i></a>
					</div><!-- / social-icons -->
				</div><!-- / image-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block image-block text-center inner-space">
					<img src="/static/img/placeholder-900.jpg" class="block-image-full" alt="">
					<h6 class="box-title">Box Title</h6>
					<p class="box-description">Quisque non tempus massa.</p>
					<div class="social-icons">
						<a href="#x"><i class="fa fa-facebook"></i></a>
						<a href="#x"><i class="fa fa-twitter"></i></a>
						<a href="#x"><i class="fa fa-instagram"></i></a>
					</div><!-- / social-icons -->
				</div><!-- / image-block -->
			</div><!-- / column -->
		</div><!-- / row -->
	    <div class="text-center">
	        <a href="/login" class="btn btn-primary pill smooth-scroll mt-3"><span>Login</span> <i class="md-icon dp16 ml-1">explore</i> </a>
	    </div>
	</div><!-- / container -->
</section>
<!-- / team -->

<a href="#top" class="scroll-to-top pill is-hidden smooth-scroll rounded" data-nav-status="toggle"><i
				class="md-icon dp18">expand_less</i></a>

<footer class="dark bg-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 footer-left-area">
				<p>© 2018 Katerina Hanson - Miniature Potato</p>
			</div>
			<div class="col-lg-4 social-icons footer-right-area">
				<a href="#x"><i class="fa fa-facebook"></i></a>
				<a href="#x"><i class="fa fa-twitter"></i></a>
				<a href="#x"><i class="fa fa-instagram"></i></a>
			</div><!-- / social-icons -->
		</div><!-- / row -->
	</div><!-- / container-fluid -->
</footer>
<!-- / footer -->

{% endblock %}
