{% extends 'base.html' %}
{% block content %}

<body class="page" data-spy="scroll" data-target="#nav-scroll">

<div id="top"></div>

<!-- navigation menu -->
<nav id="nav-scroll" class="navbar navbar-expand-lg navbar-inverse bg-black sticky-top">
	<div class="container no-padding">
		<a class="navbar-brand" href="#"><img src="/static/img/logo.png" alt=""></a>

		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-menu"
						aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="main-menu">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link smooth-scroll" href="#top">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link smooth-scroll" href="#how-it-works">How it Works</a>
				</li>
				<li class="nav-item">
					<a class="nav-link smooth-scroll" href="#testimonials-slider">Testimonials</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">Pages</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="basic-template.html">Basic</a>
						<a class="dropdown-item" href="business-template.html">Business</a>
						<a class="dropdown-item" href="portfolio-template.html">Portfolio</a>
						<a class="dropdown-item" href="blog-template.html">Blog</a>
						<a class="dropdown-item" href="landing-page-template.html">Landing Page</a>
						<a class="dropdown-item" href="shop-template.html">Shop</a>
						<a class="dropdown-item" href="page-template.html">Page</a>
						<a class="dropdown-item" href="full-width-template.html">Full Width</a>
						<a class="dropdown-item" href="404.html">404</a>
					</div>
				</li>
			</ul><!-- / navbar-nav -->
			<a href="/login" class="btn btn-sm btn-primary pill ml-2"><i class="md-icon dp14 mr-1 fa fa-sign-in"></i> <span>Login</span></a>
		</div><!-- main-menu -->
	</div><!-- container -->
</nav>
<!-- / navigation menu -->

<!-- preloader -->
<div id="preloader">
	<div class="spinner spinner-round"></div>
</div>
<!-- / preloader -->

<header class="landing-page-template parallax">
	<div class="container">
		<div class="header-content text-center">
			<img src="/static/img/logo.png" class="header-logo" alt="">
			<h3 class="text-white header-title">Welcome to Starter Kit!</h3>
			<p class="header-description text-secondary">Build websites much faster!</p>
			<a href="#how-it-works" class="btn btn-primary pill smooth-scroll mt-3"><span>How it Works</span> <i
							class="md-icon dp16 ml-1">explore</i> </a>
		</div><!-- / header-content -->
		<div class="header-scroll-down text-center">
			<a href="#about" class="smooth-scroll"><i class="md-icon dp36 mb-3">expand_more</i></a>
		</div>
	</div><!-- / container -->
</header>

<div class="spacer">&nbsp;</div>

<section id="about" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">About Us</h4>
		<div class="spacer spacer-line">&nbsp;</div>
		<div class="spacer-2x">&nbsp;</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<h5 class="mb-3">Image Block Title</h5>
				<p>Morbi fringilla velit a ultrices imperdiet. Vestibulum id lectus eu nunc dignissim ullamcorper vitae a massa.
					Curabitur eget lectus risus. Nulla efficitur iaculis cursus. Pellentesque ultrices ex a lectus congue, blandit
					fermentum erat lacinia. Nam est lorem, pharetra a condimentum vitae, finibus eu metus. Donec nec tincidunt
					lacus. Aliquam aliquet velit sit amet tincidunt dictum.</p>
				<p>Donec et odio ut neque gravida ornare. In a tincidunt ipsum, in sodales enim. Morbi pharetra nibh eu diam
					varius, vel elementum lorem tincidunt. Vestibulum molestie lectus consectetur.</p>
				<p>Pellentesque vehicula vestibulum enim, in fringilla mauris cursus eget. Proin mollis, purus ut cursus ornare,
					elit purus rutrum nulla, quis iaculis felis ipsum sed mauris.</p>
			</div><!-- / column -->
			<div class="col-md-6">
				<img src="/static/img/placeholder-800.jpg" alt="">
			</div><!-- / column -->
		</div><!-- / row -->
	</div><!-- / container -->
</section>
<!-- / about -->

<div class="spacer">&nbsp;</div>

<section id="how-it-works" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">How it Works</h4>
		<div class="spacer spacer-line border-primary">&nbsp;</div>
		<div class="row">
			<div class="col-md-4">
				<div class="block icon-block text-center inner-space">
					<i class="md-icon dp36 box-icon icon-bg pill bg-primary text-white">verified_user</i>
					<h6 class="box-title">Icon Box Title</h6>
					<p class="box-description">Quisque non tempus massa. Etiam quis mauris semper, pretium ex vel, vehicula mauris
						pretium.</p>
				</div><!-- / icon-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block icon-block text-center inner-space">
					<i class="md-icon dp36 box-icon icon-bg pill bg-success text-white">build</i>
					<h6 class="box-title">Icon Box Title</h6>
					<p class="box-description">Quisque non tempus massa. Etiam quis mauris semper, pretium ex vel, vehicula mauris
						pretium.</p>
				</div><!-- / icon-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block icon-block text-center inner-space">
					<i class="md-icon dp36 box-icon icon-bg pill bg-info text-white">public</i>
					<h6 class="box-title">Icon Box Title</h6>
					<p class="box-description">Quisque non tempus massa. Etiam quis mauris semper, pretium ex vel, vehicula mauris
						pretium.</p>
				</div><!-- / icon-block -->
			</div><!-- / column -->
		</div><!-- / row -->
	</div><!-- / container -->
</section>
<!-- / how-it-works -->

<div class="spacer">&nbsp;</div>

<section id="screenshots" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">Screenshots</h4>
		<div class="spacer spacer-line">&nbsp;</div>
		<div class="spacer-2x">&nbsp;</div>
		<div id="default-carousel" class="owl-carousel owl-theme">
			<img src="/static/img/placeholder-300.jpg" alt="">
			<img src="/static/img/placeholder-300.jpg" alt="">
			<img src="/static/img/placeholder-300.jpg" alt="">
		</div><!-- / owl-carousel -->
	</div><!-- / container -->
</section>
<!-- / screenshots -->

<section id="testimonials-slider" class="dark parallax" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center text-white">Testimonials</h4>
		<div class="spacer spacer-line">&nbsp;</div>
		<div class="spacer-2x">&nbsp;</div>
		<div id="testimonials-carousel-2" class="owl-carousel carousel-full-nav owl-theme">
			<div class="block image-block text-center inner-space">
				<img src="/static/img/placeholder-300.jpg" class="block-image circle" alt="">
				<p class="box-description">Vivamus ornare est at enim placerat, sed rutrum risus.</p>
				<p class="cite text-sm text-secondary">- John Doe</p>
			</div><!-- / image-block -->

			<div class="block image-block text-center inner-space">
				<img src="/static/img/placeholder-300.jpg" class="block-image circle" alt="">
				<p class="box-description">Pellentesque ut hendrerit libero commodo posuere.</p>
				<p class="cite text-sm text-secondary">- Jane Doe</p>
			</div><!-- / image-block -->

			<div class="block image-block text-center inner-space">
				<img src="/static/img/placeholder-300.jpg" class="block-image circle" alt="">
				<p class="box-description">Vestibulum tincidunt orci arcu, non gravida eget tempor.</p>
				<p class="cite text-sm text-secondary">- James Doe</p>
			</div><!-- / image-block -->

		</div><!-- / testimonials-carousel -->
	</div><!-- / container -->
</section>
<!-- / testimonials-slider -->

<section id="facts" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<i class="fact-icon md-icon dp48 text-primary">alarm</i>
				<h3 class="timer" id="fact-one" data-to="123" data-speed="1000">123</h3>
				<h6 class="fact-title">Fact Title</h6>
			</div><!-- / column -->
			<div class="col-md-4 text-center">
				<i class="fact-icon md-icon dp48 text-success">public</i>
				<h3 class="timer" id="fact-two" data-to="456" data-speed="1500">456</h3>
				<h6 class="fact-title">Fact Title</h6>
			</div><!-- / column -->
			<div class="col-md-4 text-center">
				<i class="fact-icon md-icon dp48 text-info">people</i>
				<h3 class="timer" id="fact-three" data-to="789" data-speed="2000">789</h3>
				<h6 class="fact-title">Fact Title</h6>
			</div><!-- / column -->
		</div><!-- /row -->
	</div><!-- / container -->
</section>
<!-- / facts -->

<div class="spacer spacer-line-full-width">&nbsp;</div>

<section id="pricing" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">Pricing</h4>
		<div class="spacer spacer-line">&nbsp;</div>
		<div class="spacer">&nbsp;</div>
		<div class="row">
			<div class="col-md-4">
				<div class="pricing-table">
					<div class="pricing-table-title">
						<h5 class="pricing-title">Standard</h5>
					</div>
					<div class="pricing-table-price w-rounded-price">
						<p class="rounded-price">
							<span class="pricing-currency">$</span>
							<span class="pricing-price">4.99</span>
							<span class="pricing-period d-block">/ Month</span>
						</p>
					</div>
					<div class="pricing-table-content">
						<ul>
							<li><strong>Single Installation</strong></li>
							<li>Free Lifetime Updates</li>
							<li>24/7 Support</li>
							<li>SASS Files Included</li>
							<li>Well Documented</li>
						</ul>
						<div class="pricing-table-button">
							<a href="#x" class="btn btn-primary pill">Buy Now</a>
						</div>
					</div>
				</div><!-- / pricing-table -->
			</div><!-- / column -->

			<div class="col-md-4">
				<div class="featured pricing-table">
					<div class="pricing-table-title">
						<h5 class="pricing-title">Featured</h5>
					</div>
					<div class="pricing-table-price w-rounded-price">
						<p class="rounded-price">
							<span class="pricing-currency">$</span>
							<span class="pricing-price">14.99</span>
							<span class="pricing-period d-block">/ Month</span>
						</p>
					</div>
					<div class="pricing-table-content">
						<ul>
							<li><strong>Multiple Installations</strong></li>
							<li>Free Lifetime Updates</li>
							<li>24/7 Support</li>
							<li>SASS Files Included</li>
							<li>Well Documented</li>
						</ul>
						<div class="pricing-table-button">
							<a href="#x" class="btn btn-secondary pill">Buy Now</a>
						</div>
					</div>
				</div><!-- / pricing-table -->
			</div><!-- / column -->

			<div class="col-md-4">
				<div class="pricing-table">
					<div class="pricing-table-title">
						<h5 class="pricing-title">Premium</h5>
					</div>
					<div class="pricing-table-price w-rounded-price">
						<p class="rounded-price">
							<span class="pricing-currency">$</span>
							<span class="pricing-price">29.99</span>
							<span class="pricing-period d-block">/ Month</span>
						</p>
					</div>
					<div class="pricing-table-content">
						<ul>
							<li><strong>Unlimited Installations</strong></li>
							<li>Free Lifetime Updates</li>
							<li>24/7 Support</li>
							<li>SASS Files Included</li>
							<li>Well Documented</li>
						</ul>
						<div class="pricing-table-button">
							<a href="#x" class="btn btn-primary pill">Buy Now</a>
						</div>
					</div>
				</div><!-- / pricing-table -->
			</div><!-- / column -->
		</div><!-- / row -->
	</div><!-- / container -->
</section>
<!-- / pricing -->

<div class="spacer spacer-line-full-width">&nbsp;</div>

<section id="team" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<h4 class="sub-title space-top space-bottom text-center">The Team</h4>
		<div class="spacer spacer-line">&nbsp;</div>
		<div class="row">
			<div class="col-md-4">
				<div class="block image-block text-center inner-space">
					<img src="/static/img/placeholder-900.jpg" class="block-image-full" alt="">
					<h6 class="box-title">Box Title</h6>
					<p class="box-description">Quisque non tempus massa.</p>
					<div class="social-icons">
						<a href="#x"><i class="fa fa-facebook"></i></a>
						<a href="#x"><i class="fa fa-twitter"></i></a>
						<a href="#x"><i class="fa fa-instagram"></i></a>
					</div><!-- / social-icons -->
				</div><!-- / image-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block image-block text-center inner-space">
					<img src="/static/img/placeholder-900.jpg" class="block-image-full" alt="">
					<h6 class="box-title">Box Title</h6>
					<p class="box-description">Quisque non tempus massa.</p>
					<div class="social-icons">
						<a href="#x"><i class="fa fa-facebook"></i></a>
						<a href="#x"><i class="fa fa-twitter"></i></a>
						<a href="#x"><i class="fa fa-instagram"></i></a>
					</div><!-- / social-icons -->
				</div><!-- / image-block -->
			</div><!-- / column -->
			<div class="col-md-4">
				<div class="block image-block text-center inner-space">
					<img src="/static/img/placeholder-900.jpg" class="block-image-full" alt="">
					<h6 class="box-title">Box Title</h6>
					<p class="box-description">Quisque non tempus massa.</p>
					<div class="social-icons">
						<a href="#x"><i class="fa fa-facebook"></i></a>
						<a href="#x"><i class="fa fa-twitter"></i></a>
						<a href="#x"><i class="fa fa-instagram"></i></a>
					</div><!-- / social-icons -->
				</div><!-- / image-block -->
			</div><!-- / column -->
		</div><!-- / row -->
	</div><!-- / container -->
</section>
<!-- / team -->

<div class="cta bg-primary" data-spy="scroll" data-target="#nav-scroll" data-offset="0">
	<div class="container">
		<div class="row vcenter">
			<div class="col-sm-8">
				<h5 class="mb-0 text-white">Grab your copy of the template</h5>
			</div>
			<div class="col-sm-4 text-right">
				<a href="#x" class="btn btn-secondary pill ml-2"><i class="md-icon dp14 mr-1">cloud_download</i> <span>Download Now!</span></a>
			</div>
		</div><!-- / row -->
	</div><!-- / container -->
</div>
<!-- / cta -->

<a href="#top" class="scroll-to-top pill is-hidden smooth-scroll rounded" data-nav-status="toggle"><i
				class="md-icon dp18">expand_less</i></a>

<footer class="dark bg-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 footer-left-area">
				<p>© 2017 BS4Start - Bootstrap 4 UI / Starter Kit</p>
			</div>
			<div class="col-lg-4 social-icons footer-right-area">
				<a href="#x"><i class="fa fa-facebook"></i></a>
				<a href="#x"><i class="fa fa-twitter"></i></a>
				<a href="#x"><i class="fa fa-instagram"></i></a>
			</div><!-- / social-icons -->
		</div><!-- / row -->
	</div><!-- / container-fluid -->
</footer>
<!-- / footer -->

{% endblock %}
